# Ignore Python or Jupyter Notebook files
__pycache__/
*.pyc
*.ipynb_checkpoints/

# Ignore node_modules for JavaScript projects
node_modules/

# Ignore environment files
.env

# Ignore datasets
data/

# ds store file
.DS_Store
